%h3 Courses List

- unless @courses.nil?
  - @courses.each do |course|
    .col-md-8.course-panel
      .col-md-7
        .row
          %b= link_to course.title, user_course_section_video_path(course, first_section(course), first_video(course)), class: "course_panel_link"
        .row
          %span{class: "details-text"}
            %i{class: "fa fa-clock-o"}
            #{humanize_secs course.length}
        .row
          %label Level:
          #{course.level}
          %br/
          %span{class: "details-text"}
            %i{class: "fa fa-pencil-square-o"}
            #{course.description.truncate(200)}
      .col-md-3.col-md-offset-2.pull-right
        = link_to user_course_section_video_path(course, first_section(course), first_video(course)) do
          = image_tag course.avatar.browse_thumb.url, class: "img-thumbnail"
        %br/
        %b by
        = link_to course.tutor.name, tutor_path(course.tutor)