%h3 Courses List

- unless @courses.nil?
  - @courses.each do |course|
    .panel.panel-success.course-panel
      .panel-body
        %b= link_to course.title, course_section_video_path(course, first_section(course), first_video(course)), class: "course_panel_link"
        %hr/
        .col-md-10
          = course.description
          %br/
          %label Level:
          #{course.level}
          %br/
          %label Duration:
          #{humanize_secs course.length}
        .col-md-2
          .pull-right
            = image_tag course.avatar.url, class: "img-thumbnail"
            %b by
            = link_to course.tutor.name, user_tutor_path(course.tutor)