%h3 Course: #{@course.title} #{humanize_secs @course.length}
by
= link_to @course.tutor.name, user_tutor_path(@course.tutor)
= link_to 'Back', user_courses_path

= form_tag user_course_section_video_complaints_path(@course, @section, @video), {id:"feedback-form", class: "form-horizontal"} do
  = text_field_tag 'complaint[title]'
  = text_field_tag 'complaint[description]'
  = submit_tag "Send", class: "btn btn-primary"

= form_tag rate_course_user_course_section_video_path(@course, @section, @video), {id:"rate_course"} do
  = text_field_tag :rating_number, '',{id: "input-id", type: "number", class:"rating" , min: "0", max: "5", step: "0.5", value: @course.unweighted_rating, data:{size:"xs"}}
.row
  .col-md-7
    %video{:width => 320, :height => 240, :controls => true, id: "video_id"}
      %source{:src => @first_video.video_file.url}

    -unless @sections.nil?
      - @sections.each do |section|
        %h4= section.title
        - unless section.videos.nil?
          - section.videos.each do |video|
            %tr
              %td
                = link_to video.title, user_course_section_video_path(@course, section, video)
              - unless video.duration.nil?
                %td
                  = humanize_secs video.duration
  .col-md-5
    %h3 Notes
    %button{id:"add_note", class:"btn btn-success"}
      Add Note
    .well{id: "new_note", style: "display:none"}
      = form_for [:user, @course, @section, @video, @note] do |f|
        - if @note.errors.any?
          #error_explanation
            %h2= "#{pluralize(@note.errors.count, "error")} prohibited this note from being saved:"
            %ul
              - @note.errors.full_messages.each do |msg|
                %li= msg

        .form-group
          = f.label "Note Title", class: "col-sm-2 control-label"
          .col-sm-10
            = f.text_field :title, class: "form-control", placeholder: "Note Title"

        .form-group
          = f.label "Note Description", class: "col-sm-2 control-label"
          .col-sm-10
            = f.text_field :description, class: "form-control", placeholder: "Note Description"

        .form-group
          = f.label "From"
          = text_field_tag :from_min, '',id: "from_min", placeholder: "00", style: "width:30px;"
          \:
          = text_field_tag :from_sec, '',id: "from_sec", placeholder: "00", style: "width:30px;"
          = submit_tag "Current From", type: "button", id: "getCurrentTimeFrom"

        .form-group
          = f.label "To"
          = text_field_tag :to_min, '',id: "to_min", placeholder: "00", style: "width:30px;"
          \:
          = text_field_tag :to_sec, '',id: "to_sec", placeholder: "00", style: "width:30px;"
          = submit_tag "Current To", type: "button", id: "getCurrentTimeTo"

        .form-group
          = f.submit 'Save', class: "btn", id: "save_note"
      %button{id:"cancel", class:"btn btn-success"}
        Cancel

    - unless @notes.nil?
      - @notes.each do |note|
        %div{id: note.id, class: "#{note_color(note)} note_div div-clickable", data: {id: note.synmarks.first.start_time}}
          .panel-heading
            %h3{class: "panel-title"}
              - unless note.title.empty?
                = note.title
              - else
                Note
              = note_author(note)
            - if note.author_id == current_user.id
              = link_to user_course_section_video_note_path(@course,@section, @video, note), :method => :delete, :data => { :confirm => "Delete?" } do
                %i{class: "fa fa-trash-o pull-right", style: "color:red;"}
          .panel-body
            = note.description
            - unless note.attachment.url.nil?
              = link_to "Download File", note.attachment.url
            %div{class: "pull-right"}
              %label From: #{humanize_secs note.synmarks.first.start_time}
              %label To: #{humanize_secs note.synmarks.first.end_time}

    - else
      No notes!

%footer
  :javascript
    // using jQuery
    $('#video_id').mediaelementplayer(/* Options */);
    $('#add_note').click(function (){
      document.getElementById('new_note').style.display="block";
    });
    $('#save_note').click(function (){
      document.getElementById('new_note').style.display="none";
    });
    $('#cancel').click(function (){
      document.getElementById('new_note').style.display="none";
    });

    $('#getCurrentTimeFrom').click(function(){
      var currentfrom = document.getElementById('video_id').currentTime
      var mins = Math.floor(currentfrom/60);
      var secs = Math.floor(currentfrom%60);
      $('#from_min').val(mins);
      $('#from_sec').val(secs);
    });

    $('#getCurrentTimeTo').click(function(){
      var currentfrom = document.getElementById('video_id').currentTime
      var mins = Math.floor(currentfrom/60);
      var secs = Math.floor(currentfrom%60);
      $('#to_min').val(mins);
      $('#to_sec').val(secs);
    });

    $('#input-id').change(function() {
      $('form#rate_course').trigger('submit.rails');
    });

    $('.note_div').click(function (){
      var start_time = $(this).data('id');
      $('#video_id')[0].player.setCurrentTime(parseInt(start_time));
    });
