.row
  .col-md-12
    %h3 #{@course.title}
    .row
      .col-md-2
        %span{class: "details-text"}
          %i{class: "fa fa-user"}
          By
          = link_to @course.tutor.name, tutor_path(@course.tutor)
      .col-md-2
        %span{class: "details-text"}
          %i{class: "fa fa-clock-o"}
          #{humanize_secs @course.length}
      .col-md-2
        %span{class: "details-text"}
          %i{class: "fa fa-calendar-o"}
          #{time_ago_in_words(@course.created_at)}
    %span{class: "details-text"}
      %i{class: "fa fa-pencil-square-o"}
      #{@course.description}
.row
  .col-md-7
    %video{:controls => true, id: "video_id"}
      %source{:src => @first_video.video_file.url}
    %span{class: "h4-font"}= @video.title
    %span{class: "h4-font pull-right views"} #{@video.number_of_views} views

    -unless @sections.nil?
      %table{class:"table table-condensed"}
        - @sections.each do |section|
          %tr
            %td{class: "section-title"}= section.title
            %td{class: "section-title"}
          - unless section.videos.nil?
            - section.videos.each do |video|
              %tr
                %td
                  - if video.viewed_by_guest?
                    = link_to video.title, user_course_section_video_path(@course, section, video)
                  - else
                    = video.title
                - unless video.duration.nil?
                  %td
                    = humanize_secs video.duration
  .col-md-5.well
    %span{class: "h4-font"} Notes
    - unless @notes.nil?
      - @notes.each do |note|
        %div{id: note.id, class: "#{note_color(note)} note_div div-clickable", data: {id: note.synmarks.first.start_time}}
          .panel-body
            = note.description
            %div{class: "pull-right"}
              %label From: #{humanize_secs note.synmarks.first.start_time}
              %label To: #{humanize_secs note.synmarks.first.end_time}


    - else
      No notes!

%footer
  :javascript
    // using jQuery
    $('#video_id').mediaelementplayer(/* Options */);

    $('.note_div').click(function (){
      var start_time = $(this).data('id');
      $('#video_id')[0].player.setCurrentTime(parseInt(start_time));
    });