.jumbotron
  .row
    .col-md-6
      %h1 Video brens
      %br/
      %h2 you can learn it the fun way!
      %br/
      %ul
        %li Animated videos
        %li tutors note , and your own notes!!
        %li ask questions and get the best answer (Stackoverflow)
    .col-md-6
      %video{:width => 500, :height => 400, :controls => true, id: "video_id"}
        %source{:src => "/assets/ETRG.mp4"}

.row
  .col-md-12.col-lg-12
    %h4{class: "home-header"} New courses!
.row
  - @courses.each do |c|
    - if user_signed_in?
      %a{href: user_course_section_video_path(c, first_section(c), first_video(c))}
    - else
      %a{href: course_section_video_path(c, first_section(c), first_video(c))}
        .col-md-3.col-sm-6.hero-feature.div-clickable
          .thumbnail
            = image_tag c.avatar.home_thumb.url, class: "img-thumbnail"
            .caption
              %h4= c.title
              = image_tag c.tutor.avatar.tutor_thumb.url, class: "img-circle pull-right", style: "width:50px;height:50px;"
              Length: #{humanize_secs c.length}
              %br/
              Level: #{c.level}
.row
  .col-md-12.col-lg-12
    %h4{class: "home-header"} Most rated courses!
.row
  - @courses.each do |c|
    - if user_signed_in?
      %a{href: user_course_section_video_path(c, first_section(c), first_video(c))}
    - else
      %a{href: course_section_video_path(c, first_section(c), first_video(c))}
        .col-md-3.col-sm-6.hero-feature.div-clickable
          .thumbnail
            = image_tag c.avatar.home_thumb.url, class: "img-thumbnail"
            .caption
              %h4= c.title
              = image_tag c.tutor.avatar.tutor_thumb.url, class: "img-circle pull-right", style: "width:50px;height:50px;"
              Length: #{humanize_secs c.length}
              %br/
              Level: #{c.level}
%footer
  :javascript
    // using jQuery
    $('#video_id').mediaelementplayer(/* Options */);