.container.well
  .col-md-2.answer-details
    .row
      .col-md-offset-3
        = image_tag question_user(@question).avatar.tutor_thumb.url, class: "img-circle"
    .row
      By
      %label= question_user(@question).name
    .row
      #{@question_upvotes} Votes up | #{@question_downvotes} Votes down
    .row
      = time_ago_in_words(@question.created_at)
  .col-md-10
    .row
      %span{class: "h4-font"}= @question.title
      %div{class: "pull-right vote-question"}
        = form_tag question_vote_tutor_course_question_path(@tutor, @course, @question), {id:"vote_form"} do
          .ui-group-buttons
            = hidden_field_tag 'question_vote'
            %a{class:"#{check_tutor_up_vote(@question)}", type:"submit", id: "question_vote_up"}
              %span{class:"fa fa-thumbs-o-up"}
            .or
            %a{class:"#{check_tutor_down_vote(@question)}", type:"submit", id: "question_vote_down"}
              %span{class:"fa fa-thumbs-down"}
    .row
      .panel.panel-default
        .panel-body
          = @question.description
.container
  .row
    = form_tag tutor_course_question_answers_path(@tutor,@course, @question) do
      .container
        .col-md-10
          %span{class: "h3-font"} Your Answer
          = text_area_tag 'answer[description]', '', class: "form-control"
        .col-md-2
          = submit_tag "Create Answer", {class: "btn btn-primary answer-button"}

%hr/
.container
  .row
    %h3 Answers
    - unless @answers.nil?
      - @answers.each do |a|
        .container.well
          .col-md-2.answer-details
            .row
              .col-md-offset-3
                = image_tag answerer(a).avatar.tutor_thumb.url, class: "img-circle"
            .row
              By
              %label= answerer(a).name
            .row
              #{count_answer_up(a)} Votes up | #{count_answer_down(a)} Votes down
            .row
              = time_ago_in_words(a.created_at)
          .col-md-10
            .col-md-10
              = a.description
            .col-md-2
              - unless answerer(a) == current_tutor
                %div{class: "pull-right vote-answer"}
                  = form_tag answer_vote_tutor_course_question_answer_path(@tutor, @course, @question, a), {class:"answer_vote_form"} do
                    .ui-group-buttons
                      = hidden_field_tag 'answer_vote', '',{class: "answer_vote"}
                      %a{class:"#{check_tutor_up_vote_answer(a)} answer_vote_up", type:"submit", id: ""}
                        %span{class:"fa fa-thumbs-o-up"}
                      .or
                      %a{class:"#{check_tutor_down_vote_answer(a)} answer_vote_down", type:"submit", id: ""}
                        %span{class:"fa fa-thumbs-down"}




%footer
  :javascript
    $('#question_vote_up').click(function() {
      $('#question_vote').val(1);
      $('form#vote_form').trigger('submit.rails');
    });

    $('#question_vote_down').click(function() {
      $('#question_vote').val(-1);
      $('form#vote_form').trigger('submit.rails');
    });

    $('.answer_vote_up').click(function() {
      $('.answer_vote').val(1);
      $(this).closest('.answer_vote_form').trigger('submit.rails');
    });

    $('.answer_vote_down').click(function() {
      $('.answer_vote').val(-1);
      $(this).closest('.answer_vote_form').trigger('submit.rails');
    });



