%h3 Course #{@course.title}

= @course.description
%br/
= @course.level
%br/
= humanize_secs @course.length

= @course.tutor.name

-unless @course.tags.nil?
  - @course.tags.each do |t|
    = t

= link_to "Edit Course", edit_admin_course_path(@course)
= link_to "Delete Course", admin_course_path, method: :delete, data: {confirm: "Do you want to delete?"}

%h3 Sections

-unless @sections.nil?
  - @sections.each do |section|
    %table{class: "table table-condensed"}
      %tr{class: "active"}
        %td= section.title
        %td= link_to 'Edit', edit_admin_course_section_path(@course, section)
        %td= link_to 'Destroy', admin_course_section_path(@course, section), :method => :delete, :data => { :confirm => 'Are you sure?' }
        %td= link_to "Add Video", new_admin_course_section_video_path(@course, section)

      %table{class: "table table-condensed table-hover table-striped"}
        - unless section.videos.nil?
          - section.videos.each do |video|
            %tr
              %td
                = link_to video.title, admin_course_section_video_path(@course, section, video)
              - unless video.duration.nil?
                %td
                  = humanize_secs video.duration
              %td
                = form_tag guest_can_view_admin_course_section_video_path(@course, section, video), method: :post, class: "form-inline" do
                  .checkbox
                    %label
                      - if video.viewed_by_guest == true
                        = check_box_tag "video[viewed_by_guest]", {},{checked: "checked"}
                      - else
                        = check_box_tag "video[viewed_by_guest]"
                      Enable for Guests?
                  .form-group
                    = submit_tag "submit"


= link_to 'New Section', new_admin_course_section_path(@course)